<div>
  <div>
    <carousel interval="carouselInterval">
      <slide ng-repeat="slide in slides">
	<!--<img ng-src="{{slide.image}}" style="margin:auto"/>
	<div class="carusel-caption">
	  <h4>Slide {{$index}}</h4>
	  <div>Slide caption</div>
	</div>-->
	<div class="jumbotron">
	  <div class="container">
            <h1>{{slide.title}}</h1>
            <p>{{slide.content}}</p>
            <p><a class="btn btn-primary btn-lg" role="button" href="#/news/{{slide.id}}">Learn more &raquo;</a></p>
	  </div>
	</div>
      </slide>
    </carousel>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; IK Integrity 2014</p>
  </footer>
</div> <!-- /container -->
